# fly.toml app configuration file generated for coursify on 2023-06-15T10:24:15-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "coursify"
primary_region = "lax"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
